* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
/* Global Styles */

body {
  font-family: "Montserrat", sans-serif;
  background: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  max-width: 1440px;
  margin: 0 auto;
}

section {
  grid-column: 3 / span 8;
  border-radius: 12px;
  background: #ffffff;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  width: 100%;
}
.section-title {
  color: #4f4f4f;
  font-size: 24px;
}

.section-subtitle {
  color: #828282;
  font-size: 14px;
}

/* Personal Details */

.personal-details {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.personal-details > img {
  width: 200px;
  height: auto;
  margin: 20px;
  border-radius: 12px;
}

.profile-content--wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}

.name-contact--wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #4f4f4f;
}

.social-links {
  margin: 0 10px;
}

.description-wrapper {
  color: #828282;
  font-weight: 500;
  font-size: 14px;
}

.description-wrapper > * {
  margin-bottom: 10px;
}

/* Skills */
.skills-section > .section-title {
  margin: 20px;
}

.skills > ul {
  list-style-type: none;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  color: #4f4f4f;
}

.skills > ul > li {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills > ul > li > p {
  grid-column: 1 / 2;
}

/* progress-bar main styling  */
.bar {
  grid-column: 2 / span 3;
  display: flex;
  justify-content: flex-start;
  background: #c4c4c4;
  width: 90%;
  height: 10px;
  border-radius: 12px;
}

.progress {
  background: #2f80ed;
  border-radius: inherit;
}

.skill-html .progress {
  width: 95%;
}

.skill-js .progress {
  width: 70%;
}

.skill-css .progress {
  width: 90%;
}

.skill-scss .progress {
  width: 10%;
}

.skill-boot .progress {
  width: 10%;
}

.skill-vue .progress {
  width: 1%;
}

/* Projects */
/* Filter Buttons */
.projects-filter {
  grid-column: 3 / span 8;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.projects-filter > * {
  margin: 20px;
}

.filter-btn {
  margin: 0 10px 0 0;
  border: 1px solid #4f4f4f;
  height: 40px;
  width: auto;
  padding: 0 10px;
  border-radius: 12px;
  background: #ffffff;
  font-size: 16px;
}

.filter-btn.active {
  background: #2f80ed;
  border: none;
  color: white;
}
/* Project List */
.projects-container {
  margin: 20px 0;
  grid-column: 3 / span 8;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1em;
}

.project {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 12px;
  border-radius: 12px;
  background: #ffffff;
  width: 100%;
  height: 500px;
  grid-column: span 3;
  transition: all 0.25s ease;
}

.project.active {
  display: block;
}

.project > * {
  margin: 20px;
}

.project .img-wrapper {
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  margin: 20px auto;
}

.project1 .img-wrapper {
  background-image: url("imgs/Screenshot_2021-02-12\ 404\ Error\ Not\ Found.png");
}

.project2 .img-wrapper {
  background-image: url("/imgs/creative\ Crew.png");
}
.project3 .img-wrapper {
  background-image: url("imgs/Screenshot_2021-02-16\ Interior\ Consultant.png");
}
.project4 .img-wrapper {
  background-image: url("/imgs/cheescake.png");
}
.project5 .img-wrapper {
  background-image: url("/imgs/galleryproject.png");
}
.project6 .img-wrapper {
  background-image: url("/imgs/checkout-cropped.png");
}

.project7 .img-wrapper {
  background-image: url("/imgs/edithomedesktop.jpg");
}

.project > .tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags li {
  margin: 0 5px;
  color: #4f4f4f;
  font-size: 14px;
}

.project-title {
  color: #333333;
  font-size: 22px;
  margin: 20px 20px 16px 20px;
}

.project > p {
  margin-top: 16px;
  color: #828282;
  font-size: 14px;
}

.demo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-wrapper > a {
  display: flex;
  height: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.demo-wrapper .demo {
  margin-right: 10px;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  color: #ffffff;
}

.demo-wrapper .demo:hover {
  background: #ffffff;
  color: #2f80ed;
}

.demo-wrapper .code {
  border: 1px solid #2f80ed;
  color: #2f80ed;
}

.demo-wrapper .code:hover {
  background: #2f80ed;
  color: #ffffff;
}

/* Courses & Certifications */
section.courses-certificates h1 {
  margin: 20px;
}
.certifications-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin: 20px;
  height: 150px;
}
.cert {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.cert h2 {
  color: #333333;
  font-size: 16px;
}

.cert a {
  margin-top: 10px;
  border: 1px solid #2f80ed;
  color: #2f80ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  text-decoration: none;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.cert a:hover {
  background: #2f80ed;
  color: #ffffff;
}

.imgs-issued {
  display: flex;
}

.imgs-issued img {
  height: 50px;
  width: 50px;
}

.imgs-issued .issued {
  margin-left: 10px;
}
/* Hobbies */
.hobbies .section-title {
  margin: 20px;
}

.hobbies-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
  margin: 20px;
}

.hobby-img {
  height: 125px;
  width: 275px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

.hobby-img#running {
  background-image: url(/imgs/sage-friedman-TT2J5t1QaMw-unsplash.jpg);
}

.hobby-img#cooking {
  background-image: url(/imgs/sandra-seitamaa-xuStICQ3qRg-unsplash.jpg);
}

.hobby-img#reading {
  background-image: url(/imgs/j-zamora-GWOTvo3qq7U-unsplash.jpg);
}
.hobby .hob-title {
  margin-top: 20px;
  color: #333333;
  font-size: 18px;
}
.hobby .hob-desc {
  margin: 10px auto;
  color: #828282;
  font-size: 14px;
}

footer {
  grid-column: span 12;
  text-align: center;
  margin: 5vh;
  color: #828282;
}

@media only screen and (max-width: 1339px) {
  body {
    display: flex;
    flex-direction: column;
  }

  section {
    margin: 20px auto;
    width: 320px;
  }

  .personal-details {
    flex-direction: column;
    align-items: center;
  }

  .personal-details > img {
    width: 90%;
    margin: 10px auto;
  }

  .profile-content--wrapper {
    margin: 20px;
  }

  .name-contact--wrapper {
    flex-direction: column;
  }

  .contact-info {
    margin: 10px 0 0 -10px;
  }

  .skills > ul {
    display: flex;
    flex-direction: column;
  }

  .projects-filter {
    width: 320px;
    margin: 20px auto 0 auto;
  }

  .filter-btn {
    margin: 5px;
  }

  .project {
    width: 320px;
    margin: 0 auto;
  }
  .projects-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .certifications-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .cert {
    align-items: flex-start;
    width: 90%;
  }

  .hobbies-wrapper {
    display: flex;
    flex-direction: column;
  }
} ;
